.vFnqvPE7{height:var(--item-height);border-radius:10px;background-color:#fff;box-shadow:0 4px 4px 0 rgba(0,0,0,.25);padding:15px;box-sizing:border-box;display:flex;gap:10px}.iZSwgLsz{display:flex;justify-content:space-between}.D1d5OPK3{flex-grow:1}.VwTouOff{display:flex;flex-direction:column;justify-content:space-between}
.EYZJGCQZ{list-style-type:none;display:grid;grid-template-columns:1fr 1fr;gap:10px}
.CUXGusvB{margin:10px 0;display:flex;gap:20px;align-items:center}.h6VduQmc{width:300px}.yMAu3lFp{width:300px}
.H6YUf46Z{margin:10px 0;text-transform:uppercase}
.GPfq2Nn7{display:flex;gap:5px;align-items:center}.GPfq2Nn7 p{margin:0;line-height:100%}
