.H6YUf46Z{margin:10px 0;text-transform:uppercase}
.P04YX3qr{display:flex;justify-content:space-between;align-items:center}.P04YX3qr button{font-size:var(--font-size-l)}.KgBPop4R{font:var(--font-l)}.CzM1f_R1{display:flex;gap:10px;margin-bottom:20px}.oKuWzFrb{margin-bottom:20px}
