.form {
  width: 60%;

  & button {
    padding: 3px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  & label {
    font: var(--font-l)
  }

  & textarea {
    min-height: 150px;
  }
}

.error {
  position: absolute;
  color: red;
  bottom: -23px;
}

.remove {
  margin-left: 5px;
  color: red;
}

.append {
  margin: 5px 0;
  color: green;
}

.controls {
  display: flex;
  gap: 10px;
}